body {
    font-family: Sedan, lora, PT Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
  }

  *{
    text-align: center
  }
  
  header {
    background-color: #090805;
    color: #1e1502;
    text-align: center;
    padding: 1rem 0;
  }
  
  section {
    padding: 1rem;
  }
  
  aside {
    background-color: #fff;
    padding: 1rem;
    margin: 1rem;
  }
  
  h2 {
    margin-bottom: 0.5rem;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    display: inline-block;
    margin-bottom: 0.5rem;
  }

  /* Style for the rounded box */
.rounded-box {
    border-radius: 80px; /* Adjust the value to change the roundness */
    padding: 20px;
    background-color: #f9dd9c; 
  }
  
  /* Style for the heading */
  .rounded-box h1 {
    color: #3366ff; /* Change the color as desired */
  }
  
  /* Style for the paragraph */
  .rounded-box p {
    color: #fff178; 
    font-size: 18px;
  }

  .rounded-box {
    background-color: rgba(243, 169, 51, 0.5); /* Adjust the alpha value (0.5 in this example) to control transparency */
    border-radius: 80px; /* Add rounded corners */
    padding: 20px; /* Add padding for content inside the box */
  
  }
  


  li a {
    display: block;
    color: rgb(191, 119, 2);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #0f1137f1;
  }

  #navlist {
    position: fixed;
    bottom: 6;
    width: 100%;
    padding: 10px 0;
    text-align: center;
  }
  
 
  
  #navlist li {
    display: inline-block; /* Display list items horizontally inline */
    margin: 0 5px; /* Add margin between navigation items */
}

  .navigation-container {
    text-align: center;
    position: absolute;
    bottom: -40px;
    left: 1%;
  }
  
  #navlist li, #navlist a {
    height: 48px; /* Set the height of list items */
    display: inline-block;
  }



  
  .bg-prev_icon {
    width: 48px; height: 48px;
    background: url('css_sprites.png') -10px -10px;
}

.bg-home_icon {
  width: 48px; height: 48px;
  background: url('css_sprites.png') -78px -10px;
}

.bg-next_icon {
  width: 48px; height: 48px;
  background: url('css_sprites.png') -146px -10px;
}

 
 .bg-home_icon a:hover {
    background: url('css_sprites_hover.png') -25px -45px;
  }
  
 .bg-prev_icon a:hover {
    background: url('css_sprites_hover.png') -47px -45px;
  }
  
 .bg-next_icon a:hover {
    background: url('css_sprites_hover.png') -91px -45px;
  }


  .navlist li a:hover {
    background-color: #ddd;
    color: #000;
  }


  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: rgb(7, 7, 7);
    text-align: center;
  }


  /* For computers */
@media screen and (min-width: 1200px) {
  /* Font sizes */
  body {
    font-size: 40px;
  }
  /* Icon sizes */
  .icon {
    width: 50px;
    height: 50px;
  }
}

/* For laptops */
@media screen and (max-width: 1199px) and (min-width: 992px) {
  /* Font sizes */
  body {
    font-size: 30px;
  }
  .rounded-box p{
    font-size: 20px;
  }
  #navlist li, #navlist a {
   
    display: inline-block;
  }
  .navigation-container {
    text-align: center;
    position: absolute;
    bottom: 25px;
    left: 1%;
  }
  /* Icon sizes */
  .icon {
    width: 40px;
    height: 40px;
  }
}

/* For tablets */
@media screen and (max-width: 991px) and (min-width: 768px) {
  /* Font sizes */
  body {
    font-size: 25px;
  }
  .rounded-box p{
    font-size: 18px;
  }
  #navlist li, #navlist a {
   
    display: inline-block;
  }
  .navigation-container {
    text-align: center;
    position: absolute;
    bottom: 50px;
    left: 1%;
  }
  /* Icon sizes */
  .icon {
    width: 30px;
    height: 30px;
  }
}

/* For phones */
@media screen and (max-width: 767px) {
  /* Font sizes */
  body {
    font-size: 22px;
  }
  .rounded-box p{
    font-size: 15px;
  }
  #navlist li, #navlist a {
   
    display: inline-block;
  }
  .navigation-container {
    text-align: center;
    position: absolute;
    bottom: 4px;
    left: 1%;
  }
  /* Icon sizes */
  .icon {
    text-align: center;
    width: 25px;
    height: 20px;
  }
}
